body  {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
h1 {
    font-family: 'Bad Script', cursive;
    font-size: 48px;
    margin: 30px;

}
video {
    width: 450px;
    height: 450px;
    margin: auto;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}
img {
    margin-top: 40px;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}
.container {
    text-align: center;
}
button {
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    margin: 15px;

}
#saveGIF, #postGIF, #slackGIF {
    display: none;
}
