body {
    font-family: 'Lato', sans-serif;
    font-weight: 200;
}
video {
    width: 500px;
    height: 500px;
    margin: auto;
    display: inline-block;
}
img {
    margin-top: 40px;
    margin-bottom: 60px;
    display: inline-block;
}
.container {
    text-align: center;
}
button {
    margin: 15px;
}
